<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.prenotazioniUtente})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 th:text="#{header.prenotazioni}"></h4>
		<ul>
			<li th:each="prenotazione : ${prenotazioni}"><a
				th:href="@{'/prenotazione' + '/' + ${prenotazione.id}}"
				th:text="|${prenotazione.giorno}-${prenotazione.ora}:00|">	</a>
					<form id="btnElimina"
						th:action="@{'/eliminaPrenotazione/{id}'(id=${prenotazione.id})}"
						method="POST" th:object="${prenotazione.id}">
						<input type="hidden" name="_method" value="delete" />
						<button type="submit" value="Submit">Elimina</button>
					</form>
		</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>