<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.campo})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 th:text="#{header.campo}"></h4>
		<div th:if="${campo}" th:object="${campo}">
			<div>
				<img th:src="@{'/images/'+*{image}}">
			</div>
		
			<div>
				Matricola: <span th:text="*{matricola}"></span>
			</div>

			<div>
				Descrizione: <span th:text="*{descrizione}"></span>
			</div>

			<div>
				Prezzo orario: <span th:text="*{prezzoOrario}"></span>
			</div>

			<div>
				Sport: <span th:text="*{sport.nome}"></span>
			</div>
			
			<div>
				Custode: <span th:text="!*{custode.nome}&nbsp;*{custode.cognome}|"></span>
			</div>

		</div>
		<div th:unless="${campo}">Questo campo sportivo non esiste</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>