<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.campi})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4 class="m-5"style="text-align:center; font-size:40px;" th:text="#{header.campi}"></h4>
		<ul class="list-group m-4" style="align-items:center;">
		<li class="list-group-item list-group-item-action m-3 border"  style="text-align:center;" th:each="campo : ${campi}">
				<a href="campo.html" 
				   th:href="@{'/campo' + '/' + ${campo.id}}" 
				   th:text="|${campo.matricola} - ${campo.sport.nome}|"></a>
				   <span th:text="| (${campo.prezzoOrario}0&euro;/h)|"></span>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>