<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Rocca Borgia')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.menuUtente}">Menu</h4>
    	<!-- home, inserire immagini, pagina di info e pagina admin per
    	customizzare le prenotazioni(per eliminare quelle passate principalmente)  -->
   		<div>
			<a th:href="@{/addPrenotazione}">Effettua prenotazione</a>
   		</div>
   		
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>