<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.prenotazioniUtente})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="m-5">
		<h4  style="text-align:center; font-size:40px; " th:text="#{header.prenotazioni}"></h4>
	</div>
	<div class="m-5">
	<ul class="list-group ;" style="align-items:center;">
		<li class="list-group-item list-group-item-action bg-light"  th:each="prenotazione : ${prenotazioni}">
		 <a th:href="@{'/prenotazione' + '/' + ${prenotazione.id}}"
			th:text="|${prenotazione.giorno}-${prenotazione.ora}:00|"style="background-color:lightblue; text-align:center; "  class="list-group-item list-group-item-action"></a>
		</li>
	</ul>

	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>