<!DOCTYPE html>
<html xmlns:th="//http:thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{header.prenotazione})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"> </header>
	<div>
		<p> Effettua una prenotazione </p>
		<form th:action="{/prenotazione}" method="POST" th:object="${prenotazione}">
		<div if="${#fields.hasGlobalErrors()}">
			<p th:each="{err : ${#fields.hasGlobalErrors()}}" th:text="${err}"></p>
		</div>
		
		<div>
			<span>Giorno:<input
					type="date" th:field="*{giorno}" /></span> <span
					th:if="${#fields.hasErrors('giorno')}" th:errors="*{giorno}"></span>
			</div>
			
		<div>
			<span>Ora:<input type="text" th:field="*{ora}"/></span>
			<span th:if="${#fields.hasErrors('ora')" th:error="*{ora}"></span>
		</div>
		
		<div><span>Campo:</span>
			<select name="campoScelto">
			<option th:each="{campo : campi}" th:value="*{id}" th:text="|*{sport.nome}&nbsp;*{matricola}|"></select>		
		</div>
		
		<span><button type="submit">Prenota</button></span> 
		</form>
	</div> 
</body>
</html>